<template>
  <div>
    <canvas :id="dataId" />
  </div>
</template>

<script>
import Chart from 'chart.js'
import chartAmountData from '~/utils/chart/chartAmount'

export default {
  name: 'ChartAmount',
  props: {
    dataId: { type: String, required: true },
  },
  data() {
    return {
      chartData: chartAmountData,
    }
  },
  mounted() {
    this.createChart(this.dataId, this.chartData)
  },
  methods: {
    createChart(chartId, chartData) {
      const ctx = document.getElementById(chartId)
      // eslint-disable-next-line no-unused-vars
      const myChart = new Chart(ctx, {
        type: chartData.type,
        data: chartData.data,
        options: chartData.options,
      })
    },
  },
}
</script>

<style scoped></style>
