<template>
  <layout-logged>
    <div class="container-fluid pt-3">
      <form-history-fiilter />
      <table-history />
    </div>
  </layout-logged>
</template>

<script>
import LayoutLogged from '~/layouts/layout-logged'
import TableHistory from '~/components/table/table-history'
import FormHistoryFiilter from '~/components/forms/form-history-fiilter'
export default {
  name: 'Index',
  components: { FormHistoryFiilter, TableHistory, LayoutLogged },
}
</script>

<style scoped></style>
