<template>
  <div class="content-table">
    <table>
      <tr v-for="(item, key) in list" :key="key">
        <td>{{ item.date }}</td>
        <td>{{ item.firstname }} {{ item.lastname }}</td>
        <td>{{ item.immat }}</td>
        <td>{{ item.price }}€</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'TableHistory',
  data() {
    return {
      list: [
        { date: '16/02/1999', firstname: 'alexandre', lastname: 'cailler', immat: '15 zefz5 65', price: '78,12 €' },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.content-table {
  table {
    width: 100%;

    td {
      width: auto;
      padding: 10px 35px;

      p {
        color: #a476ef;

        hr {
          border: 1px solid #a476ef;
        }
      }

      &:first-child {
        color: #cacaca;
      }

      &:last-child {
        text-align: right;
        padding: 10px 90px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
</style>
