.main-content {
  position: relative;

  // Navbar
  .navbar-top {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // Container
  .container-fluid {
    @include media-breakpoint-up(md) {
      padding-left: ($main-content-padding-x + $grid-gutter-width / 2) !important;
      padding-right: ($main-content-padding-x + $grid-gutter-width / 2) !important;
    }
  }
}


.sidenav.fixed-left+.main-content {
  margin-left: 62px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.navbar-vertical.navbar-expand-xs.fixed-left+.main-content {
  margin-left: 62px;
}

@media (min-width: 1200px){
  .g-sidenav-pinned .sidenav.fixed-left+.main-content {
    margin-left: 250px;
  }
}
