<template>
  <div class="g-sidenav-pinned">
    <nav-sidebar />
    <nuxt-child />
  </div>
</template>

<script>
import NavSidebar from '~/components/navigation/navSidebar'
export default {
  name: 'Index',
  components: { NavSidebar },
}
</script>

<style scoped></style>
