<template>
  <b-input :placeholder="placeholder" :size="size" :type="type" :class="classes" @change="$emit('change', $event)" />
</template>

<script>
export default {
  name: 'BaseInput',
  props: {
    classes: { type: String },
    size: { type: String },
    placeholder: { type: String },
    type: { type: String, default: 'text' },
  },
}
</script>

<style scoped></style>
