<template>
  <b-btn class="btn rounded-pill" :size="size">
    <slot />
  </b-btn>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    classes: { type: String },
    size: { type: String },
  },
}
</script>

<style scoped></style>
