<template>
  <div
    class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white"
    style="overflow-x: hidden"
    data="vue"
  >
    <div class="container-fluid h-100 d-flex flex-column justify-content-between align-content-between">
      <div>
        <div class="d-flex my-3">
          <b-avatar size="lg" />
          <div class="ml-2">
            <h5 class="lh-100">Alexandre</h5>
            <h5 class="lh-100">Cailler</h5>
          </div>
        </div>
        <div class="dropdown-divider mx-3" />
        <ul class="list-unstyled">
          <nav-sidebar-item link="/t/dashboard" libel="Dashboard" icon="home" />
          <nav-sidebar-item link="/t/history" libel="Historique des transaction" icon="history" />
        </ul>
      </div>
      <div>
        <div class="dropdown-divider mx-3" />
        <b-btn variant="link" block class="text-danger">
          <font-awesome-icon icon="power-off" />
          Déconnexion
        </b-btn>
      </div>
    </div>
  </div>
</template>

<script>
import NavSidebarItem from '~/components/navigation/navSidebarItem'
export default {
  name: 'NavSidebar',
  components: { NavSidebarItem },
  data() {
    return {
      open: true,
    }
  },
}
</script>

<style scoped></style>
