<template>
  <li class="px-3 py-2">
    <font-awesome-icon v-if="icon" :icon="icon" />
    <nuxt-link class="pl-2" :to="link">{{ libel }}</nuxt-link>
  </li>
</template>

<script>
export default {
  name: 'NavSidebarItem',
  props: {
    icon: { type: String },
    libel: { type: String, required: true },
    link: { type: String, required: true },
  },
}
</script>

<style scoped></style>
