<template>
  <b-row class="vh-100 flex-column justify-content-center align-items-center">
    <div>
      <h1 class="font-weight-bold mb-5"><span>QRCar</span><span class="text-uppercase text-sm">pro</span></h1>
    </div>
    <login-form />
  </b-row>
</template>

<script>
import LoginForm from '~/components/forms/login-form'
export default {
  name: 'Login',
  components: { LoginForm },
}
</script>

<style scoped></style>
