<template>
  <b-row>
    <b-col lg="4">
      <amount-card libel="Revenu Aujourd’hui" amount-value="75,87" />
    </b-col>
    <b-col lg="4">
      <amount-card libel="Revenu Aujourd’hui" amount-value="75,87" />
    </b-col>
    <b-col lg="4">
      <amount-card libel="Revenu Aujourd’hui" amount-value="75,87" />
    </b-col>
  </b-row>
</template>

<script>
import AmountCard from '~/components/card/amount-card/amountCard'
export default {
  name: 'AmountList',
  components: { AmountCard },
}
</script>

<style scoped></style>
