<template>
  <div>
    <h1 class="h0">404</h1>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
}
</script>

<style scoped></style>
