<template>
  <div class="main-content">
    <base-notifications />
    <slot />
  </div>
</template>

<script>
import BaseNotifications from '@/components/notification/baseNotifications'
export default {
  name: 'LayoutLogged',
  components: { BaseNotifications },
}
</script>
