<template>
  <div class="card shadow-sm">
    <div class="px-3 py-2">
      <p class="text-muted">{{ libel }}</p>
      <div class="font-weight-bold">
        <p class="font-weight-900 text-right" style="font-size: 35px">{{ amountValue }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AmountCard',
  props: {
    libel: { type: String },
    amountValue: { type: String },
  },
}
</script>

<style scoped lang="scss"></style>
