<template>
  <layout-logged>
    <div class="container-fluid vh-100 d-flex flex-column">
      <amount-list class="pt-3" />
      <chart-amount data-id="chart-amount-revenue" class="h-100" />
      <chart-amount data-id="chart-amount-transaction" class="h-100" />
    </div>
  </layout-logged>
</template>

<script>
import LayoutLogged from '~/layouts/layout-logged'
import ChartAmount from '~/components/charts/chart-amount'
import AmountList from '~/components/list/amount-list/amountList'

export default {
  name: 'Index',
  components: { AmountList, ChartAmount, LayoutLogged },
}
</script>
