<template>
  <div class="d-flex align-items-center justify-content-center">
    <v-date-picker v-model="date" is24hr class="flex-shrink-0">
      <template #default="{ inputValue, inputEvents }">
        <b-btn class="btn bg-primary text-white" size="lg" v-on="inputEvents">
          <font-awesome-icon icon="calendar-alt" size="15" style="font-size: 20px" class="mr-3" />
          {{ inputValue }}
        </b-btn>
      </template>
    </v-date-picker>
    <base-input size="lg" placeholder="Rechercher" classes="form-control form-control-alternative bg-lighter" />
  </div>
</template>

<script>
import BaseInput from '~/components/form-object/base-input'

export default {
  name: 'FormHistoryFiilter',
  components: { BaseInput },
  data() {
    return {
      date: new Date(),
    }
  },
}
</script>

<style scoped></style>
