<template>
  <b-col :lg="3">
    <h1 class="text-lg font-weight-900">Connexion</h1>
    <form @submit="handleSubmit">
      <b-form-group>
        <base-input placeholder="test" classes="form-control form-control-alternative bg-lighter" size="lg" />
      </b-form-group>
      <b-form-group>
        <base-input placeholder="test" classes="form-control form-control-alternative bg-lighter" size="lg" />
      </b-form-group>
      <p class="mb-5 font-weight-bold">
        En continuant, vous acceptez nos <a href="#" class="text-primary">conditions</a> ainsi que notre
        <a href="#" class="text-primary">politique de confidentialité</a>
      </p>
      <base-button class="w-100 bg-primary text-white">Se connecté</base-button>
    </form>
  </b-col>
</template>

<script>
import BaseButton from '~/components/form-object/base-button'
import BaseInput from '~/components/form-object/base-input'
export default {
  name: 'LoginForm',
  components: { BaseInput, BaseButton },
  methods: {
    handleSubmit() {
      // TODO
    },
  },
}
</script>

<style scoped></style>
